@using UpravljanjeVozilima.Models
@model IEnumerable<UpravljanjeVozilima.Models.Travel>
@{
    ViewBag.Title = "Putni nalozi";
}

<div class="d-flex flex-column h-100 bg-light rounded-lg box-shadow-lg p-4">
<div class="py-2 p-md-3">

    <!-- NASLOV -->
    <h1 class="h3 mb-3 pb-2 text-center text-sm-left">Popis putnih naloga</h1>

    <!-- VOZAČI (TABLA)-->
    <div class="table-responsive font-size-md">
        <table id="travelsTable"  class="table table-hover mb-0">
            <thead>
            <th>Vozač</th>
            <th>@Html.DisplayNameFor(model => model.Vehicle.FullTitle)</th>
            <th>Gorivo</th>
            <th>@Html.DisplayNameFor(model => model.RoadDistance)</th>
            <th>@Html.DisplayNameFor(model => model.TripDuration)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>Akcije</th>
            </thead>
            <tbody>
            @foreach (var travel in Model)
            {
                <tr>
                    <td class="py-3 align-middle">
                        @Html.DisplayFor(modelItem => travel.Driver.FullName)
                    </td>
                    <td class="py-3 align-middle">
                        @Html.DisplayFor(modelItem => travel.Vehicle.FullTitle)
                    </td>
                    <td class="py-3 align-middle">
                        @Html.DisplayFor(modelItem => travel.FuelPrice)
                    </td>
                    <td class="py-3 align-middle">
                        @Html.DisplayFor(modelItem => travel.RoadDistance)
                    </td>                    
                    <td class="py-3 align-middle">
                        @Html.DisplayFor(modelItem => travel.TripDuration)
                    </td>                    
                    <td class="py-3 align-middle">
                        @Html.Raw(WebUtility.HtmlDecode(travel.Status.Title))
                    </td>
                    <td class="py-3 align-middle">
                                           
                            @Html.ActionLink(linkText: " ", actionName: "Show", htmlAttributes: new 
                            { 
                                @class = "nav-link-style mr-2 fe-eye"
                            }, routeValues: new { id = travel.IDTravelWarrant })                            
                            
                            @Html.ActionLink(linkText: " ", actionName: "Delete", htmlAttributes: new 
                            { 
                                @class = "nav-link-style mr-2 fe-trash-2 text-danger deleteDriver",
                                data_delete="true",
                                data_title=travel.Driver.FullName+" - "+travel.Vehicle.FullTitle,
                                data_id=travel.IDTravelWarrant
                            }, routeValues: new { id = travel.IDTravelWarrant })
                        </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    <hr class="pb-4">
    <div class="text-sm-right">
        <a class="btn btn-primary" href="@Url.Action("Add", "Travels")">Stvori putni nalog</a>
    </div>

</div>
</div>

<!-- JAVASCRIPT -->
@section scripts{
    <script type="text/javascript">
        //INIT
        $(document).ready(function () {
            $("[data-page=travels]").addClass("active");
             isTableEmpty();
             $('#travelsTable').DataTable( {
                                        "paging":   false,
                                        "ordering": true,
                                        "info":     false,
                                        "language": {
                                            "search": "Pretraga:"
                                          }
                                    } );
         });             
              //CALLBACK
                            $(document).on("click", "[data-delete=true]", function (e) {
                               e.preventDefault();
                                
                               const { title, id } = this.dataset;
                                               
                               Swal.fire({
                                 title: 'Brisanje',
                                 text: "Želite li stvarno obrisati: "+title+"!",
                                 icon: 'warning',
                                 showCancelButton: true,
                                 confirmButtonColor: '#3085d6',
                                 cancelButtonColor: '#d33',
                                 confirmButtonText: 'Da, želim obrisati!',
                                 cancelButtonText: 'Odustani'
                               }).then((result) => {
                                 if (result.isConfirmed) {
                                    $.ajax({
                                        url: '@Url.Action(controllerName: "Travels", actionName: "Delete")',
                                        data: { id },
                                        statusCode: {
                                            200: function () {
                                                $('.table')
                                                    .find(`[data-id=${id}]`)
                                                    .parents('tr')
                                                    .hide(500).remove();
                                                 isTableEmpty();
                                                                            
                                            },
                                            400: function () {          
                                                 Swal.fire(
                                                      'Pogreška!',
                                                      'Dogodila se neočekivana pogreška prilikom brisanja putnog naloga iz baze podataka.',
                                                      'Error'
                                                );
                                            }
                                        }
                                    })
                                    .done(function (data) {
                                         Swal.fire(
                                              'Obrisan!',
                                              'Uspješno ste uklonili putnog naloga iz baze podataka.',
                                              'success'
                                         );
                                    })
                                    .fail(function (xhr, txtStatus, error) {
                                        console.log('status', xhr.status, 'statusText', xhr.statusText);
                                        console.log('txtStatus', txtStatus);
                                        console.log('error', error);
                                    });
                                    }
                                })
                            });
        
    </script>
}